<h1>Stupid Answer</h1>

<div class="conversation question">
  <p><%= params[:question] %></p>
  <p>-You</p>
</div>

<div class="conversation answer">
  <p> <strong><%= @answer %></strong></p>
  <p>-Your Coach</p>
</div>



<p> <%= link_to "Ask another question", "/ask" %> </p>

